<%- include('../partials/header') %>


    <section id="show-page">
        <table class = "table table-striped">
            <thead>
                <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departs</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= flight.airline %></td>
                <td><%= flight.airport %></td>
                <td><%= flight.flightNo %> </td>
                <td><%= flight.departs %></td>
            </tr>
        </tbody>
          </table>
        
      </section>
      
      <!-- new markup below -->


      <br><h2 class ="text-center">Destinations</h2>

<% if (flight.destinations.length) { %>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(r) { %>
        <tr>
          <td><%= r.airport %></td>
          <td><%= r.arrival %></td>
        </tr>
      <% }); %>           
    </tbody>
  </table><br>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>



<form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
</label><br>
<br>
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival" value="<%= departsDate %>"><br>
  <br>
  <input type="submit" value="Add Destination">
  
</form>
<br><h2 class ="text-center">Tickets</h2>
<div>Tickets:</div>
<ul>
  <%- tickets.map(ticket => 
    `<li>${ticket.seat} <small>${ticket.price}</small></li>`
  ).join('') %>
</ul>

<a href="/flights/<%= flight.id %>/tickets/new">ADD TICKET</a>



      <%- include('../partials/footer') %>